<div layout-sm="column" flex>
  <!--
    -- corrigido margem para card ficar do mesmo tamanho
    -- da caixa de busca
    -->
  <div flex layout="row" layout-align="center" style="margin: 0 16px;">
    <md-card
      flex
      flex-gt-xs="70"
      flex-gt-sm="50"
      flex-gt-md="30"
      flex-gt-lg="20"
      style="margin: 8px 0px;">
      <md-card-header ng-if="home.userProfile.data">
        <md-card-avatar>
          <img
            ng-src="{{ home.userProfile.data.avatar_url }}"
            class="md-card-image"
            alt="{{ home.userProfile.data.name }}" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{ home.userProfile.data.name }}</span>
          <span class="md-subhead">{{ home.userProfile.data.login }}</span>
        </md-card-header-text>
      </md-card-header>

      <md-card-actions
        layout="row"
        layout-align="start center"
        ng-if="home.userProfile.data">
        <md-button ng-href="{{ home.userProfile.data.html_url }}" target="_blank">GitHub</md-button>
        <md-button ng-href="{{ home.userProfile.data.blog }}" target="_blank">Blog</md-button>
      </md-card-actions>

      <div layout="row" layout-align="center" class="md-padding" ng-if="home.repos.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <md-divider></md-divider>

      <!--
        -- removido padding para nao ter problema com divider
        -- quando a lista estiver vazia
        -->
      <md-list flex style="padding: 0;">
        <md-list-item
          class="md-3-line"
          ng-repeat="repo in home.repos.data | filter: home.search:false"
          ng-href="{{ repo.html_url }}"
          target="_blank">
          <div class="md-list-item-text" layout="column">
            <h3>{{ repo.name }}</h3>
            <h4>{{ repo.owner.login }}</h4>
            <span>
              <span>
                <strong>{{ repo.language || 'Indefinido' }}</strong> |
              </span>
              <span>
                <strong>{{ repo.stargazers_count }}</strong> stars |
              </span>
              <span>
                <strong>{{ repo.forks_count }}</strong> forks
              </span>
            </span>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-card-content ng-if="home.userProfile.error || home.repos.error">
        <p>{{ home.userProfile.error }}</p>
        <p>{{ home.repos.error }}</p>
      </md-card-content>
    </md-card>
  </div>
</div>
