<div flex layout-sm="column">
  <p layout="row" layout-align="center">Lista de repositórios do usuário: {{ home.getUser() }}</p>
  <md-card>
    <md-card-content>
      <md-list flex>
        <div layout="row" layout-align="center" ng-if="home.loading">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-list-item class="md-3-line"
                      ng-repeat="repo in home.repos | filter: home.search:false"
                      ng-href="{{ repo.html_url }}"
                      target="_blank">
          <div class="md-list-item-text" layout="column">
            <h3>{{ repo.name }}</h3>
            <h4>{{ repo.owner.login }}</h4>
            <span>
              <span>
                <strong>{{ repo.language || 'Indefinido' }}</strong> |
              </span>
              <span>
                <strong>{{ repo.stargazers_count }}</strong> stars |
              </span>
              <span>
                <strong>{{ repo.forks_count }}</strong> forks
              </span>
            </span>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
